* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/background.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
h1,
h2,
h3 {
  display: block;
  margin-top: 0;
  font-weight: 300;
  text-transform: uppercase;
}
h1 {
  color: white;
  font-size: 240%;
  margin-bottom: 60px;
  word-spacing: 4px;
  letter-spacing: 1px;
}
h2 {
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
}
h2::after {
  display: block;
  content: " ";
  height: 2px;
  width: 100px;
  background-color: red;
  margin: 0 auto;
  margin-top: 30px;
}
h3 {
  font-size: 110%;
  margin-bottom: 15px;
}
section {
  padding: 80px 0;
}
.icon-big {
  display: block;
  font-size: 350%;
  color: red;
  margin-bottom: 10px;
}
.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 30px;
}
.box {
  padding: 1%;
}
.box p {
  font-size: 90%;
  line-height: 145%;
}
.row {
  max-width: 1140px;
  margin: 0 auto;
}
.logo {
  height: 80px;
  width: auto;
  float: left;
  margin-top: 30px;
}
.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;
}
.main-nav li {
  display: inline-block;
  margin-left: 60px;
}
.main-nav li a:link,
.main-nav li a:visited {
  text-decoration: none;
  color: white;
  font-size: 90%;
  text-transform: uppercase;
  padding-bottom: 8px;
  border-bottom: 2px solid transparent;
  transition: border-color 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active {
  border-color: red;
}
.main-nav .nav-btn:link,
.main-nav .nav-btn:visited {
  background-color: red;
  border: 1px solid red;
  padding: 12px 30px;
  border-radius: 15px;
  transition: border-color 1s, border-radius 1s, background-color 1s;
}
.main-nav .nav-btn:hover,
.main-nav .nav-btn:active {
  background-color: transparent;
  border-radius: 100px;
}
.hero-text {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn:link,
.btn:visited {
  text-decoration: none;
  color: white;
  background-color: red;
  padding: 12px 30px;
  border-radius: 15px;
  border: 1px solid red;
  transition: background 1s, border-radius 1s;
}
.btn-full {
  margin-right: 15px;
}
.btn-ghost:link,
.btn-ghost:visited {
  background-color: transparent;
}
.btn:hover,
.btn:active {
  background-color: transparent;
  border-radius: 100px;
}
.btn-ghost:hover,
.btn-ghost:active {
  background-color: red;
  border-radius: 100px;
}
.meal-showcase {
  list-style: none;
  width: 100%;
}
.meal-showcase li {
  background-color: black;
  float: left;
  width: 25%;
  overflow: hidden;
}
.meal-showcase img {
  width: 100%;
  opacity: 0.7;
  transform: scale(1.03);
  transition: transform 0.5s, opacity 0.5s;
}
.meal-showcase img:hover {
  opacity: 1;
  transform: scale(1.2);
}
